############################
# IoT Security
############################
IoT_Security/**/*
!IoT_Security/README.md
!IoT_Security/Project1/
!IoT_Security/Project1/**/*
!IoT_Security/Project2/
!IoT_Security/Project2/**/*
!IoT_Security/Project3/
!IoT_Security/Project3/**/*
!IoT_Security/Project4/
!IoT_Security/Project4/**/*
!IoT_Security/Project5/
!IoT_Security/Project5/**/*

############################
# IIoT
############################
IIoT/**/*
!IIoT/README.md
!IIoT/Project1/
!IIoT/Project1/**/*
!IIoT/Project2/
!IIoT/Project2/**/*
!IIoT/Project3/
!IIoT/Project3/**/*
!IIoT/Project4/
!IIoT/Project4/**/*
!IIoT/Project5/
!IIoT/Project5/**/*

############################
# Embedded Linux
############################
EmbeddedLinux/**/*
!EmbeddedLinux/README.md
!EmbeddedLinux/Project1/
!EmbeddedLinux/Project1/**/*
!EmbeddedLinux/Project2/
!EmbeddedLinux/Project2/**/*
!EmbeddedLinux/Project3/
!EmbeddedLinux/Project3/**/*
!EmbeddedLinux/Project4/
!EmbeddedLinux/Project4/**/*
!EmbeddedLinux/Project5/
!EmbeddedLinux/Project5/**/*

############################
# RTOS
############################
RTOS/**/*
!RTOS/README.md
!RTOS/Project1/
!RTOS/Project1/**/*
!RTOS/Project2/
!RTOS/Project2/**/*
!RTOS/Project3/
!RTOS/Project3/**/*
!RTOS/Project4/
!RTOS/Project4/**/*
!RTOS/Project5/
!RTOS/Project5/**/*

############################
# Microcontroller
############################
Microcontroller/**/*
!Microcontroller/README.md
!Microcontroller/Project1/
!Microcontroller/Project1/**/*
!Microcontroller/Project2/
!Microcontroller/Project2/**/*
!Microcontroller/Project3/
!Microcontroller/Project3/**/*
!Microcontroller/Project4/
!Microcontroller/Project4/**/*
!Microcontroller/Project5/
!Microcontroller/Project5/**/*

############################
# Device Driver
############################
DeviceDriver/**/*
!DeviceDriver/README.md
!DeviceDriver/Project1/
!DeviceDriver/Project1/**/*
!DeviceDriver/Project2/
!DeviceDriver/Project2/**/*
!DeviceDriver/Project3/
!DeviceDriver/Project3/**/*
!DeviceDriver/Project4/
!DeviceDriver/Project4/**/*
!DeviceDriver/Project5/
!DeviceDriver/Project5/**/*

